<!DOCTYPE html>
<html>
<head>
  <title>Vagrant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        DealMe.IN
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class="active">
            <%= link_to current_user.display_name, edit_user_registration_path %>
          </li>
          <li class="active">
            <%= link_to 'Logout', destroy_user_session_path, title: "Logout user #{current_user.name}" %>
          </li>
        <% else %>
          <li class="active">
            <%= link_to 'Login', new_user_session_path, title: 'Login' %>
          </li>
        <% end %>
      </ul>

      <%= yield :menu %>
    </section>
  </nav>
</div>

<p class="flash-notice"><%= notice %></p>
<p class="flash-alert"><%= alert %></p>


<div class="row">
  <div class="columns">

    <%= yield %>

  </div>
</div>


</body>
</html>
